@font-face {
	font-family: 'Iosevka Term SS02';
	src: url('/fonts/iosevka-term-ss02-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Iosevka Term SS02";
}

body {
	font-size: 16pt;
}

input, th, select {
	font-size: 14pt;
}

button, td, li {
	font-size: 12pt;
	font-style: 'italic';
}

h1 {
	font-size: 32pt;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}


/* Custom tree classes */

.node__branch > circle {
}

.node__leaf > circle {
	visibilty: hidden;
}

.rd3t-label__title {
	transform: translate(-40px, 7px);
	text-anchor: middle;
}
