@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
	     url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.switch_container {
	height           : auto;
	width            : max-content;
	margin           : 0 auto;
	background-color : #fcfaed00;
	display          : flex;
	align-items      : center;
	justify-content  : center;
	transition       : 0.4s;
	position         : absolute;
	top              : 0;
	right            : 0;
	margin-right     : 4%;
	margin-top       : 2%;
}

.switch {
	position : relative;
	display  : inline-block;
	width    : 135px;
	height   : 20px;
}

.switch input {
	opacity : 0;
	width   : 0;
	height  : 0;
}

.slider:before {
	position   : absolute;
	content    : "";
	width      : 40px;
	height     : 40px;
	transition : 0.4s
}

input:checked + .slider {
	background-color : #323232;
}

input:focus + .slider {
	box-shadow : 0 0 0 #2196f3;
}

input:checked + .slider:before {
	transform : translateX(60px);
}

.slider.round {
	border-radius : 34px;
}

.slider.round:before {
	border-radius : 50%;
}

input + .slider.round:before {
	font-size       : 20px;
	background      : transparent;
	content         : "Light";
	color           : black;
	display         : flex;
	justify-content : center;
	align-items     : center;
	position        : relative;
	left            : 20px;
	bottom          : 10px;
}

input:checked + .slider.round:before {
	font-size       : 20px;
	background      : transparent;
	content         : "Dark";
	display         : flex;
	color           : #A9B7C6;
	justify-content : center;
	align-items     : center;
}

.dark {
	background-color : #2b2b2b;
	color            : #A9B7C6;
}

.light {
	background-color : #FFFFFF;
	color            : black;
}

.slider {
	position         : absolute;
	cursor           : pointer;
	top              : 0;
	left             : 0;
	right            : 0;
	bottom           : 0;
	background-color : #ffecb3;
	transition       : 0.4s
}

* {
	font-family      : 'JetBrains Mono';
	font-weight      : 500;
}

.header_light {
	color      : #007E8A;
	font-style : italic;
}

.header_dark {
	color      : #FFC66D;
	font-style : italic;
}

.grammar_input {
	font-style : italic;
	font-size  : 20px;
	resize     : none;
	height     : 20vh;
	width      : 44vw;
	margin-top : 5px;
}

#grammar_info {
	white-space : pre-line;
	overflow    : scroll;
}

.help_button {
	border-radius: 50%;
	transform: translate(10px, -6px);
}

.parser_algorithm_buttons {
	transform: translate(20px, -6px);
	font-size: 14px;
}

.feedback_button {
	transform: translate(20px, -6px);
	margin-left: 10px;
	border-radius: 10%;
	font-size: 14px;
}

/* Source: https://codesandbox.io/s/k9k36x70kv?file=/src/css/index.css */
.example-warper {
	width: 100%;
	padding: 20px 5%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px #1d1d1d;
}

.button {
	color: #000000;
	cursor: pointer;
	padding: 0px 30px;
	display: inline-block;
	margin: 10px 15px;
	text-transform: uppercase;
	line-height: 2em;
	letter-spacing: 1.5px;
	font-size: 1em;
	outline: none;
	position: relative;
	font-size: 16px;
	border: 3px solid #cfcece;
	background-color: #ffffff;
	border-radius: 15px 15px 15px 15px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.button:hover,
.button.hover {
	border-color: #2980b9;
}

.card {
	font-size: 14px;
}
.card > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
}

.modal {
	font-size: 16px;
}
.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
.modal > .content {
	width: 100%;
	padding: 10px 5px;
}
.modal > .actions {
	margin: auto;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	text-align: center;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.example-warper-start {
	width: 100%;
	padding: 20px 5%;
	display: flex;
	flex-wrap: wrap;
	border: 1px #cfcece dashed;
}

.menu {
	width: 200px;
	display: flex;
	flex-direction: column;
	background: #ffffff;
}
.menu-item {
	/* cursor: pointer; */
	padding: 5px;
	height: 28px;
	border-top: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
	color: #2980b9;
}

/* Created with: https://www.w3generator.com/scrollbar */
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb{
	background: #B3AFB3;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
	background: #B3AFB3;
}

::-webkit-scrollbar-track{
	background: #F0F0F0;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
