.tabs {
	margin     : 0 auto;
	width      : 100%;
	text-align : center;
}

.tab-buttons {
	margin-bottom : 20px;
}

.tab-button {
	margin-right  : 15px;
	font-size     : 16px;
	background    : transparent;
	border        : none;
	outline       : none;
	padding       : 10px 20px ;
	cursor        : pointer;
	color         : rgba(0,0,0,.4);
	transition    : all ease-in-out .2s;
	border-bottom : 2px solid transparent;
}

.active-tab {
	border-bottom : 2px solid #007E8A;
	color         : black;
}
